*:after,
*:before {
	box-sizing: border-box;
}

body {
	background-color: #212121;
}

.youtube {
	width: 300px;
	height: 200px;
	
	position: absolute;
	left: 500px;
	top: 30px;
	
	background-color: red;
	border-radius: 20%;
	box-shadow: -9px 2px 20px 5px rgba(255, 255,255);

}

.youtube:before {
	content: '';

	position: absolute;
	top: 35%;
	left: 40%;

	border-top: 30px solid red;
    border-left: 70px solid #fff;
    border-bottom: 30px solid red;
}
